body {background-color: black; 
    color:white; 
    font-family: "Bebas Neue",  serif;
    text-align: center;
    font-size:xx-large;
    padding: 10vh;;
}

h2 {padding-top: 50vh;}

span {padding-left: 75vw;
    padding-right: 25vw;}