body {background-color: black; 
    color:white; 
    font-family: "Bebas Neue",  serif;
    text-align: center;
    font-size:xx-large;
    padding: 25vh;;
}

h2 {padding-top: 75vh;}

span {padding-left: 125vw;
    padding-right: 50vw;}